:root {
  --bg-col-dark: #000;
}

@media (prefers-color-scheme: dark) {
  @-moz-document url("about:newtab") {
    html {
      background-color: var(--bg-col-dark) !important;
    }
  }
  @-moz-document url("about:blank") {
    html {
      background-color: var(--bg-col-dark) !important;
    }
  }
  @-moz-document domain("youtube.com") {
    html[dark], [dark] {
      --yt-spec-base-background: var(--bg-col-dark) !important;
    }
  }
}

@-moz-document domain("youtube.com") {
  #sections.ytd-guide-renderer > .ytd-guide-renderer:not(:first-child),
  #container.ytd-masthead,
  #background.ytd-masthead,
  ytd-mini-guide-renderer,
  #page-header-banner,
  #footer {
    display: none !important;
  }
  ytd-app {
    margin-top: -80px !important;
    --ytd-mini-guide-width: 0 !important;
  }
  #contentContainer {
    height: 425px !important;
    padding-bottom: 0 !important;
  }
  #frosted-glass.with-chipbar.ytd-app {
    background-color: var(--bg-col-dark) !important;
    height: 54px !important;
  }
}
